<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{homepage}"></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body class="text-center">
<nav th:replace="~{fragment/fragment :: navbar}"></nav>
<h1 th:text="#{homepage}"></h1>
<hr>
<a class="btn btn-primary" th:href="@{#}">Continue</a> ||
<a class="btn btn-danger" th:href="@{/logout}" th:text="#{button_log_out}"></a>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>